/* div da imagem */
.streamlinedopportunity{
    text-align: center;
}

/* Imagem */
.streamlinedopportunity img{
   width: 30%;
}

.initial-statements li{
    list-style:none;
    list-style-type:none;
}
